<a href="https://colab.research.google.com/github/hoanqphann/DataAnalyst/blob/main/slide_Python_Programming_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# START

In [ ]:
print("Hello World")

In [ ]:
# comment

In [ ]:
#Python Syntax
score = 80
if score >=60 :
 print("Pass")

In [ ]:
#Python Variables
x = 2
y = x + 1
print(x)
print(y)

In [ ]:
#Python Variables
x = 2
price = 2.5
word = 'Hello'
print(x,price,word)
word = 'Hello'
print(word)
word = "Hello"
print(word)
word = '''Hello'''
print(word)

In [ ]:
#Python Data Types
x = "Hello World" #str
print(x, type(x))
x = 2 #int
print(x, type(x))
x = 2.5 #float
print(x, type(x))
x = 7j #complex
print(x, type(x))

In [ ]:
#Python Casting
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

In [ ]:
#Python Numbers
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

In [ ]:
#Python Data Types
x = ["apple", "banana", "cherry"] #list
print(x)
x = ("apple", "banana", "cherry") #tuple
print(x)
x = range(6) #range
x = {"name" : "Tom", "age" : 20} #dict
print(x)
x = {"apple", "banana", "cherry"} #set
print(x)
x = frozenset({"apple", "banana", "cherry"})
print(x)
#frozenset

In [ ]:
#Python Basic Operators
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

In [ ]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

In [ ]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [ ]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

# Array

In [ ]:
#List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
#Tuples
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [ ]:
#Set
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
#Dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [ ]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [ ]:
#Python for Finance Applications
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [ ]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
 print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [ ]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

# LOOPS and IF

In [ ]:
# Python if
score = 80
if score >=60 :
 print("Pass")

Pass

In [ ]:
# Python if else
score = 80
if score >=60 :
 print("Pass")
else:
 print("Fail")

Fail

In [ ]:
score = 95
if score >= 90 :
 print("A")
elif score >=60 :
 print("Pass")
else:
 print("Fail")

A

In [ ]:
# Python if elif else
score = 90
grade = ""
if score >=90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"

print(grade)

A

In [ ]:
#Python for Loops
for i in range(1,6):
 print(i)

In [ ]:
# for loops
for i in range(1,10):
 for j in range(1,10):
  print(i, ' * ' , j , ' = ', i*j)

In [ ]:
# while loops
age = 10
while age < 20:
 print(age)
 age = age + 1

10
11
12
13
14
15
16
17
18
19

# Function

In [ ]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [ ]:
# Python class
class MyClass:
 x = 5

c1 = MyClass()
print(c1.x)

5

In [ ]:
#Python Classes/Objects
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age

p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [ ]:
#Python Classes/Objects
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age
 def myfunc(self):
  print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [ ]:
#Python Classes/Objects
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age
 def myfunc(self):
  print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [ ]:
#Python Classes and Objects
class Vehicle:
 name = ""
 kind = "car"
 color = ""
 value = 100.00
 def description(self):
  desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color,self.kind, self.value)
  return desc_str
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

In [ ]:
# mymodule.py
def greeting(name):
 print("Hello, " + name)

# END